<header class="site-header">
  <div class="banner">
    <div class="banner-inner col-xs-12 col-sm-12 col-md-12">
      <div class="spacer">
      </div>
      <div class="banner-title">
        <h1><img src="{{ "/public/images/celestial-logo.png" | relative_url }}" />The Celestial Loom</h1>
        <p class="text-light">Astrological Services</p>
      </div>
      <nav>
        <ul class="nav nav-pills banner-navbar">
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/services" | relative_url }}">Services</a></li>
          <li><a href="{{ "/signs" | relative_url }}">Signs</a></li>
          <li><a href="{{ "/planets" | relative_url }}">Planets</a></li>
          <li><a href="{{ "/houses" | relative_url }}">Houses</a></li>
          <li><a href="{{ "/events" | relative_url }}">Events &amp; Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
