---
layout: page
title: Services
---
<div class="row page-content-row page-content-intro">
  <h4><strong>Not sure where to begin?</strong>
  An online or in-person natal chart service is the best way to build a foundation for understanding the energies at play
  in your birth chart. Explore all of my services below...</h4>
</div>
<div class="row service-row">
	
{% assign services = site.services | sort: 'order' %}
{% for service in services %}

	{% assign index_modulo_3 = forloop.index | modulo : 3 %}
	{% assign index_modulo_2 = forloop.index | modulo : 2 %}
	
	<div class="col-md-4 col-sm-6 col-xs-12 service">
		<div class="service-wrapper">
	    <h3 class="service-title">{{ service.title }}</h3>
	    <p>{{ service.content }}</p>
	    <div class="service-purchase">
	    	<div class="container-fluid">
		    	<div class="col-xs-4">
			    	<p class="service-price">${{ service.price }}</p>
		    	</div>
		    	<div class="col-xs-8">
			    	<p class="service-disclaimer">
			    		To place an order, send an email to Nikki directly at <a href="mailto:nikiastro@att.net">nikiastro@att.net</a> 
			    	</p>
		    	</div>
	    	</div>
	    </div>
    </div>
	</div>
	
	{% if index_modulo_3 == 0 %}
		<div class="clearfix visible-md-block visible-lg-block">
		</div>
	{% endif %}
	
	{% if index_modulo_2 == 0 %}
		<div class="clearfix visible-sm-block">
		</div>
	{% endif %}
	
{% endfor %}
</div>