---
layout: page
title: Services
---
<div class="row page-content-row page-content-intro">
  <h4><strong>Not sure where to begin?</strong>
  An <a href="{{ "/services/natal-chart-online.html" | relative_url }}">online</a> or <a href="{{ "/services/natal-chart-online.html" | relative_url }}">in-person natal chart service</a> is the best way to build a foundation for understanding the energies at play
  in your birth chart. Explore all of my services below...</h4>
</div>
<div class="row service-row">
	
{% assign services = site.services | sort: 'order' %}
{% for service in services %}

	{% assign index_modulo_3 = forloop.index | modulo : 3 %}
	{% assign index_modulo_2 = forloop.index | modulo : 2 %}
	
	<div class="col-md-4 col-sm-6 col-xs-12 service">
		<div class="service-wrapper">
	    <a href="{{ service.url }}"><h3>{{ service.title }}</h3></a>
	    <p>{{ service.content }}</p>
	    <div class="service-purchase">
	    	<p class="service-price">${{ service.price }}</p>
	    	<a href="{{ service.url }}" class="btn btn-primary">View Service</a>
	    </div>
    </div>
	</div>
	
	{% if index_modulo_3 == 0 %}
		<div class="clearfix visible-md-block visible-lg-block">
		</div>
	{% endif %}
	
	{% if index_modulo_2 == 0 %}
		<div class="clearfix visible-sm-block">
		</div>
	{% endif %}
	
{% endfor %}
</div>