---
layout: default
---

<header class="post-header">
  <h1 class="post-title text-signature">Service</h1>
</header>

<div class="page-content area-panel">
<div class="row">    
    <!-- about panel -->
    <div class="col-md-6 col-sm-6 col-xs-12 service-page">
      <div class="service-checkout">
        <h2 class="service-title">{{ page.title }}</h2>
        {{ content }}
      </div>
     {% if page.type == "online" %}
       <div class="service-guide">
         <h3><i class="fa fa-search" aria-hidden="true"></i> Online Services</h3>
         <ul>
           <li>All materials will be securely delivered with 
           <a href="https://www.dropbox.com/home" target="_blank">Dropbox</a> to your preferred email, where they will be available
           for download. No sign up necessary!</li>
           <li>Please allow 1-2 weeks for preparation and delivery time.</li>
           <li>Secure checkout with 
           <a href="https://www.paypal.com/home" target="_blank">Paypal</a></li>
         </ul>
         <p><strong>Questions about this service or online ordering? </strong>
         Contact Nikki directly at <a href="mailto:nikiastro@att.net">nikiastro@att.net</a>!</p>
       </div>
     {% endif %}
     {% if page.type == "in-person" %}
       <div class="service-guide">
         <h3><i class="fa fa-search" aria-hidden="true"></i> In-Person Services</h3>
         <ul>
           <li>After placing your order, you'll receive a confirmation email from Nikki
           to arrange a local meeting. In-person services last approximately 90 minutes.</li>
           <li>All materials will be assembled in a full-color packet.</li>
           <li>Please allow 1-2 weeks preperation time when coordinating the best time to meet.</li>
           <li>Secure checkout with 
           <a href="https://www.paypal.com/home" target="_blank">Paypal</a></li>
         </ul>
         <p><strong>Questions about this service or online ordering? </strong>
         Contact Nikki directly at <a href="mailto:nikiastro@att.net">nikiastro@att.net</a>!</p>
       </div>
     {% endif %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h3 class="service-title">Place an Order</h3>
      <form id="order-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Your preferred email address">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="clientName" placeholder="Full name">
        </div>
        <div class="form-group">
          <p class="help-block">Birth Information</p>
          <label for="birthMonth">Date of Birth</label>
          <div class="form-inline date">
            <select class="form-control" id="birthMonth">
              <option value="">Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            <input type="text" class="form-control" id="birthDay" placeholder="Day">
            <input type="text" class="form-control" id="birthYear" placeholder="Year">
          </div>
        </div>
        <div class="form-group">
          <label for="birthTime">Time of birth*</label>
          <div class="form-inline time">
            <input type="text" value="12:00" class="form-control" data-optional="true" id="birthTime" placeholder="12:00">
            <select class="form-control" id="birthTimeAm">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="birthPlace">Place of Birth*</label>
          <input type="text" class="form-control" data-optional="true" id="birthPlace" placeholder="City, State and Country">
          <p class="help-block">* or approximate, if known. Any service can be completed if unknown,
          but exact time and place provide the greatest detail and insight.</p>
        </div>
      </form>
      <p class="service-price center">${{ page.price }}</p>
      <button type="button" id="checkoutButton" class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">
        Confirm and Checkout
      </button>
    </div>
    <div class="col-xs-12">
       <div class="testimonial-bar">
        <p>"Who knew so much insight could be gleaned from your birth information! Can't wait to get my solar return."</p>
        <small>- Beau, St. Louis</small>
      </div>
    </div>
    <div class="modal fade" id="checkoutModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Checkout</h4>
          </div>
          <div class="modal-body">
            <p class="lead">Birth Information:</p>
            <p class="birth-form-info"></p>
          </div>
          <div class="modal-footer">
            <div class="checkout-modal-service">
              <p>{{page.title}} - <span class="checkout-price">${{page.price}}</span></p>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
              <div class="paypal-form">
                {{page.paypal-button}}
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="{{ site.baseurl }}public/javascript/form.js"></script>
